.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 2rem;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.cardCon{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5;
}

.addpost{
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: aqua;
}
